[submodule "socket-superpoint"]
	path = socket-superpoint
	url = https://github.com/nokiroki/socket-superpoint.git
[submodule "cyclegan_copy"]
	path = cyclegan_copy
	url = https://github.com/nokiroki/cyclegan_copy.git
